In [1]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\user\appdata\roaming\python\python312\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\appdata\roaming\python\python312\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

#Read the csv file into a pandas DataFrame
df = pd.read_csv('D:/Excel_mergingusing_python/extraction/CHA Data - CHA Data.csv')


#Display the first few rows of the Dataframe
print(df.head())

   Sr no                                               Name     Client Name  \
0      1                                      A B LOGISTICS        SATVANT
1      2                          A D MEHTA CLEARING AGENCY   DEVANG MEHTA
2      3                                A R SHIPPING AGENCY       AMARENDRA
3      4  A S CLEARING AND FORWARDING INDIA PRIVATE LIMITED  AVDHES TIWARI
4      5                                       A T P & SONS  YOGESH PARMAR

                                             Address        Unnamed: 4  \
0  208, 2ND FLOOR,DENA BANK BUILDING, NIRAV CHAMB...        Gandhidham
1  OFFICE NO. 21, 22 ,1ST FLOOR,,KASEZIA BUILDING...        Gandhidham
2  130 MODI STREET,,LOKHNDWALA BUILDING,4TH FLOOR...            Mumbai
3  I-39,301.,POONAM SAGAR COMPLEX,OPP-SECTOR-09,M...  Mira Road (East)
4  1ST FLOOR,ATP HOUSE,BHALPARA ROAD,NEAR BHALKA ...            Bhalka

      Contact                       Website    Feedback call
0  9825239223                           NaN   NOT ANSWERING
1  9727707625  http://www.mcsconsultants.in   NOT ANSWERING
2  9428506329                           NaN            BUSY
3  7777030843                           NaN      NOT IN USE
4  9825221399                           NaN  NO REQUIREMENT

In [4]:
import pandas as pd

#Read the csv file
df =pd.read_csv('D:/Excel_mergingusing_python/extraction/CHA Data - CHA Data.csv')

#Extract the specific column in the csv file
column_data = df[['Address']]

#save the extracted column into a new csv file
column_data.to_csv('D:/Excel_mergingusing_python/extraction/extracted_data.csv',index=False)
#print the extracted column
print("Extracted specific column saved to csv file")

Extracted specific column saved to csv file

In [7]:
import pandas as pd
import re

# Step 2: Read the CSV file containing addresses
df = pd.read_csv('D:/Excel_mergingusing_python/extraction/extracted_data.csv')

# Step 3: Define a function to extract city names
def extract_city(address):
    # Use regex to find potential city names before postal codes
    match = re.search(r'([A-Za-z\s\-]+)(?=,\s*\d{6})', address)
    if match:
        return match.group(1).strip()  # Return matched city name
    return None  # Return None if no match found

# Step 4: Apply the function to the Address column
df['City'] = df['Address'].apply(extract_city)

# Step 5: Save the results to a new CSV file
df[['Address', 'City']].to_csv('D:/Excel_mergingusing_python/extraction/extracted_cities.csv', index=False)

print("City extraction complete. Results saved to 'extracted_cities.csv'.")

City extraction complete. Results saved to 'extracted_cities.csv'.

In [12]:
def capitalize_first_letter(text):
  """
  Capitalizes the first letter of each word in the given text (if it's a string).

  Args:
    text: The input text string (or number).

  Returns:
    The text with the first letter capitalized (if it's a string), or the original text (if it's a number).
  """
  if isinstance(text, str):
    words = text.split()
    capitalized_words = [word.capitalize() for word in words]
    return ' '.join(capitalized_words)
  else:
    return text  # Return the original text if it's not a string

# Apply the function to the 'City' column
df['City'] = df['City'].apply(capitalize_first_letter)

In [13]:
# Assuming the non-string values in 'City' are actually convertible to strings
df['City'] = df['City'].astype(str)

# Apply the function to the 'City' column (now containing strings)
df['City'] = df['City'].apply(capitalize_first_letter)

In [16]:
def capitalize_first_letter(text):
  try:
    words = text.split()
    capitalized_words = [word.capitalize() for word in words]
    return ' '.join(capitalized_words)
  except AttributeError:
    return text  # Return the original text if an error occurs

# Apply the function to the 'City' column
df['City'] = df['City'].apply(capitalize_first_letter)

In [17]:
# Print the updated DataFrame
print(df)

# Optionally, save the updated DataFrame to a new CSV file
df.to_csv('output_file_name.csv', index=False)

                                               Address  \
0    208, 2ND FLOOR,DENA BANK BUILDING, NIRAV CHAMB...
1    OFFICE NO. 21, 22 ,1ST FLOOR,,KASEZIA BUILDING...
2    130 MODI STREET,,LOKHNDWALA BUILDING,4TH FLOOR...
3    I-39,301.,POONAM SAGAR COMPLEX,OPP-SECTOR-09,M...
4    1ST FLOOR,ATP HOUSE,BHALPARA ROAD,NEAR BHALKA ...
..                                                 ...
414  WESTWIND HOUSE, PLOT NO. 54,,SECTOR 2, BEHIND ...
415  4-5,KAMALA RESIDENCY , NEAR TAJ HARI HOTEL,RES...
416  205, AMBICA ARCADE,,PLOT NO 300, WARD 12/B,,AB...
417  209-211,TRADE CENTRE,PLOT NO. 46,SECTOR 8 GAND...
418  SURYA HEIGHTS, 211, DC-2,B/H HOTEL EMPIRE,GAND...

                             City
0                  Banking Circle
1                      Gandhidham
2                          Mumbai
3                             Nan
4    Near Bhalka Railway Crossing
..                            ...
414                       Gujarat
415                     Rajasthan
416                    Gandhidham
417                    Gandhidham
418                           Nan

[419 rows x 2 columns]